#window {
    background-color: rgba(0.4, 0.4, 0.4, 0.7);
    border: 1px solid rgba(0, 0, 255, 0.5);
}

#outer-box {
    background-color: rgba(20, 20,20, 0.7);
    border: 1px solid rgba(0, 0, 255, 0.5);
}

#input {
    color: #999999;
    border: 1px solid rgba(100, 100, 100, 1);
    border-radius: 20px; 

    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;

    box-shadow: none;
    background-color: rgba(0.7, 0.7, 0.7, 0.7);
}


#input:focus {
    color: #999999;
    border: 1px solid rgba(0, 0, 255, 1);

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

    box-shadow: none;
    background-color: rgba(0.5, 0.5, 0.5, 0.7);
}

#entry {
	border-radius: 20px;
	margin: 5px;
	margin-right: 20px;
	margin-left: 20px;
	padding-left: 10px;
}

#entry:focus {
    background: rgba(0, 0, 255, 0.7);
    border: 1px solid rgba(0, 0, 255, 1);
}
